@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<form method="Post">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4">Data Sender Web App</h1>
                <p>Use this page to send data to the Data Receiver Web App.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4" style="text-align:left">Configuration</h1>
                <p style="text-align:left">Use this section to configure your account configuration settings.</p>
                <p style="text-align:left">Stream Id</p>
                <input type="text" id="streamId" name="streamId" class="form-control mb-2" value="@Model.StreamId" />
                <p style="text-align:left">Profile Name</p>
                <input type="text" id="profileName" name="profileName" class="form-control mb-2" value="@Model.ProfileName" />
                <p style="text-align:left">Endpoint</p>
                <input type="text" id="endpointConfiguration" name="endpointConfiguration" class="form-control mb-2" value="@Model.EndpointConfiguration" />
            </div>
        </div>


        <div class="row">
            <h1 class="display-4">Data</h1>
            <p>Use this section to configure The data elements of the message to send.</p>
            <div class="col-md-6">
                <p>Enter the number of clients to simulate:</p>
                <input type="number" id="numberOfClients" name="numberOfClients" class="form-control mb-2" />
                <p>Enter the number of messages to send:</p>
                <input type="number" id="numberOfMessages" name="numberOfMessages" class="form-control mb-2" />
                <p>Enter the delay between messages (in milliseconds):</p>
                <input type="number" id="messageDelay" name="messageDelay" class="form-control mb-2" />
            </div>
            <div class="col-md-6">
                <!-- Right column content -->
                <p>Data to send (JSON format):</p>
            <textarea type="text" id="dataToSend" name="dataToSend" readonly="readonly" rows="10" cols="50" class="form-control mb-2"></textarea>
                <!-- 
                {
                    "clientId": 1,
                    "messageId": 2,
                    "timestamp": "%%timeStamp%%",
                    "data": "Data Message Message %%messageId%%.",
                    "source": "DataSenderWeb - Client %%clientId%%"
                 } 
                 -->

                <select id="extraData" name="dataConfiguration" onchange="updateDataToSend()">
                    <option value="Default">Default</option>
                    <option value="Temperature">Temperature</option>
                </select>
            </div>
        </div>
        &nbsp;
        <div class="row" id="tempDataDiv" hidden="hidden" style="border:thick; border-color:black; background-color:gray">
            <div class="col-md-12 text-left text-white fw-bold" >
                <p>Enter temperature data (in Celsius):</p>
            </div>
            <div class="col-md-6" style="border:thin; border-color:black; border:solid; background-color:lightgray">
                <p>Normal temperature data (in Celsius):</p>
                <p>Minimum Temp:</p>
                <input type="number" id="minimumNormalTemp" name="minimumNormalTemp" class="form-control mb-2" />
                <p>Max Temp</p>
                <input type="number" id="maximumNormalTemp" name="maximumNormalTemp" class="form-control mb-2" />
            </div>
            <div class="col-md-6" style="border:thin; border-color:black; border:solid; background-color:lightgray">
                <p>Error temperature data (in Celsius):</p>
                <p>Minimum Temp:</p>
                <input type="number" id="minimumErrorTemp" name="minimumErrorTemp" class="form-control mb-2" />
                <p>Max Temp</p>
                <input type="number" id="maximumErrorTemp" name="maximumErrorTemp" class="form-control mb-2" min="0"  />
                <p>Error Rate %:</p>
                <input type="number" id="tempErrorRate" name="tempErrorRate" class="form-control mb-2" min="0" max="99" />
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-md-12 text-left">
                <button id="sendDataButton" class="btn btn-primary" asp-page-handler="SendDataToStream">Send Data</button>
            </div>
        </div>
        


    </div>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
        });
    }

            //Create a function to populate fields on document load
    document.addEventListener("DOMContentLoaded", function() {
        setDefaultValues ();
    });

    function setDefaultValues () {
        var numberOfClients = document.getElementById("numberOfClients");
        var numberOfMessages = document.getElementById("numberOfMessages");
        var messageDelay = document.getElementById("messageDelay");
        var dataToSend = document.getElementById("dataToSend");

        var streamId = document.getElementById("streamId");
        var profileName = document.getElementById("profileName");
        var endpointConfiguration = document.getElementById("endpointConfiguration");

        var minimumNormalTemp = document.getElementById("minimumNormalTemp");
        var maximumNormalTemp = document.getElementById("maximumNormalTemp");
        var minimumErrorTemp = document.getElementById("minimumErrorTemp");
        var maximumErrorTemp = document.getElementById("maximumErrorTemp");
        var tempErrorRate = document.getElementById("tempErrorRate");

        if (numberOfClients.value== "") {
            numberOfClients.value = 1;
        }
        if (numberOfMessages.value == "") {
            numberOfMessages.value = 100;
        }
        if (messageDelay.value == "") {
            messageDelay.value = 1000;
        }

        if (dataToSend.value == "") {
            dataToSend.value = '{\n"clientId": %%clientId%%,\n"messageId": %%messageId%%,\n"timestamp": "%%timeStamp%%",\n"data": "Data Message Message %%messageId%%.",\n"source": "DataSenderWeb - Client %%clientId%%"\n}';
        }

        if (minimumNormalTemp.value== "") {
            minimumNormalTemp.value = "0";
        }
        if (maximumNormalTemp.value== "") {
            maximumNormalTemp.value = "40";
        }
        if (minimumErrorTemp.value== "") {
            minimumErrorTemp.value = "50";
        }
        if (maximumErrorTemp.value== "") {
            maximumErrorTemp.value = "100";
        }
        if (tempErrorRate.value== "") {
            tempErrorRate.value = "5";
        }


    }

    function updateDataToSend() {
        var dataToSend = document.getElementById("dataToSend");
        var extraData = document.getElementById("extraData");
        var selectedValue = extraData.value;
        var tempDataDiv = document.getElementById("tempDataDiv")

        tempDataDiv.hidden = true;

        switch (selectedValue) {
            case "Default":
                dataToSend.value = '{\n"clientId": %%clientId%%,\n"messageId": %%messageId%%,\n"timestamp": "%%timeStamp%%",\n"data": "Data Message Message %%messageId%%.",\n"source": "DataSenderWeb - Client %%clientId%%"\n}';
                tempDataDiv.hidden = true;
                break;
            case "Temperature":
                dataToSend.value = '{\n"clientId": %%clientId%%,\n"messageId": %%messageId%%,\n"timestamp": "%%timeStamp%%",\n"data": "Temperature Data Message %%messageId%%.",\n"source": "DataSenderWeb - Client %%clientId%%",\n"temperature": %%temp%%\n}';
                tempDataDiv.hidden = false;
                break;
            default:
                alert("Unknown data configuration selected.");
        }
    }
   

</script>

</form>